img.circle-image2 {
    position: absolute;
    border-radius: 50%;
    top: 247px;
    left: 554px;
    width: 260px;
    height: 260px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}